
<div class="control-group">
  {{#comment_description_label }}
  <label class="control-label" for="description-text">{{ . }}</label>
  {{/comment_description_label }}
  <div class="controls">
    <textarea id="description-text" name="description_text" class="input-block-level" rows="10">{{{ main_text }}}</textarea>
  </div>
</div>


{{^project.members.empty?}}
<label for="assignee">Assign issue to...</label>
<div id="assignee">
  {{#project.members}}
    <label for="{{ login }}" class="radio">
      <input type="radio" value="{{ id }}" name="assignee" id="{{ login }}">
      {{ login }}
    </label>
  {{/project.members}}
</div>
{{/project.members.empty?}}


<input type="submit" class="btn btn-success" value="Submit">




