{{#active?}}
  {{#project}}
    <a href="/project/{{id}}">{{title}}</a>
  {{/project}}
{{/active?}}

{{#pending?}}
  {{#project}}
    
    {{#public?}}
      <a href="/project/{{id}}">{{title}}</a>
    {{/public?}}
    
    {{#private?}}
      {{title}}
    {{/private?}}
    
  {{/project}}
{{/pending?}}
