
<div class="issue row">
  <div class="span12">
    
    <h2>New issue for project "{{project.title}}"</h2>

    <form class="add-issue" action="/project/{{project.id}}/add-issue" method="post">
    
    <div class="control-group">
      <label class="control-label" for="issue-title">Issue title</label>
      <div class="controls">
        <input type="text" id="issue-title" name="title" class="input-xxlarge" value="{{ title }}">
      </div>
    </div>
    
    {{> _issue_comment_form_elements }}
    
    </form>
    
  </div>
</div>
