<div class="admin-login row">
  <div class="span12">
    
    <h2>Administrator login</h2>

    <form action="/admin/login", method="post">
    
    <div class="control-group">
      <label class="control-label" for="input-username">Username</label>
      <div class="controls">
        <input type="text" id="input-username" name="username">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="input-password">Password</label>
      <div class="controls">
        <input type="password" id="input-password" name="password">
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <button id="admin-sign-in-submit" type="submit" class="btn btn-success">Sign in</button>
      </div>
    </div>

    </form>

  </div>
</div>