<div class="account-options row">

  <p>
    We've not seen that {{ provider }} account used to sign in before. Would you like to create an account for these sign in details?
  </p>

  <div class="actions-and-details">
    <div class="external-account">
      {{#image}}
        <div class="image-wrapper">
          <img src="{{ image }}">
        </div>
      {{/image}}
      <div class="details">
        <p>{{ nickname }}</p>
        <p>{{ description }}</p>
      </div>
    </div>

    <div class="clearfix"></div>
    
    <div class="actions">
      <a href="/create-account" class="btn btn-success">Create account</a>
      <a href="/" class="btn btn-danger">Oops! No thanks</a>
    </div>
  </div>
</div>