
<div class="actions row">
  <div class="span12">

    {{#may_subscribe}}
      <div>
        {{#is_subscribed}}
          <a class="btn btn-info" title="Stop getting notifications about this project" href="/project/{{project.id}}/unsubscribe">Subscribed</a>
        {{/is_subscribed}}
        {{^is_subscribed}}
        <a class="btn btn-success" title="Get notifications about updates to this project" href="/project/{{project.id}}/subscribe">Subscribe</a>
        {{/is_subscribed}}
      </div>
    {{/may_subscribe}}

    {{#may_add_issues}}
    <div class="input-prepend">
      <a href="/project/{{project.id}}/add-issue" title="Add a new issue to this project">
      <span class="add-on">+</span><span class="btn">New issue</span>
      </a>
    </div>
    {{/may_add_issues}}

    <div class="clearfix"></div>

  </div>
</div>

<div class="issues row">
  
  <div class="assigned-issues span4">
    <h4>Your assigned issues ({{ assigned_issues.count }})</h3>
    <ul class="issues-list">
      {{#assigned_issues }}
        <li><a href="/issue/{{ id }}">{{ title }}</a></li>
      {{/assigned_issues }}
    </ul>
  </div>

  <div class="discussed-issues span4">
    <h4>Issues you have discussed ({{ discussed_issues.count }})</h3>
    <ul class="issues-list">
      {{#discussed_issues }}
        <li><a href="/issue/{{ id }}">{{ title }}</a></li>
      {{/discussed_issues }}
    </ul>
  </div>

  <div class="other-issues span4">
    <h4>Other issues ({{ other_issues.count }})</h3>
    <ul class="issues-list">
      {{#other_issues }}
        <li><a href="/issue/{{ id }}">{{ title }}</a></li>
      {{/other_issues }}
    </ul>
  </div>
  
</div>