<div class="join-project row">
  <div class="span12">
    
    <h2>Ask to join project "{{project.title}}"</h2>

    <form action="/project/{{project.id}}/join", method="post">
    
    <div class="control-group">
      <label class="control-label" for="input-message">Message for the project members:</label>
      <div class="controls">
        <textarea id="input-message" name="message" class="input-xxlarge" rows="5" placeholder="Make sure the project members know who you are..."></textarea>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <button id="join-project-submit" type="submit" class="btn btn-success" >Send request</button>
      </div>
    </div>

    </form>

  </div>
</div>