<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{meta_title}}</title>

    <link rel="stylesheet" href="/bootstrap-wysihtml5-0.0.2/bootstrap-wysihtml5-0.0.2.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/css/atishoo.css">
  </head>
  
  <body>

    <div class="container">
      <div class="top-links row">
        <div class="span12">
          {{#current_user}}
            <div>
              <a href="/logout">Sign out</a>
            </div>
          {{/current_user}}
        </div>
      </div>
      <div class="site-header row">
        <div class="span8">
          <a href="/"><h1 class="site-name">{{app_name}}</h1></a>
        </div>
        <div class="header-sidebar span4">
          {{#user_name}}
            <h4 class="user-name">{{.}}</h4>
          {{/user_name}}
          {{#project_name}}
            <h4 class="project-name">{{.}}</h4>
          {{/project_name}}
          {{^project_name}}
          {{#project}}
            <a href="/project/{{id}}"><h4 class="project-name">{{title}}</h4></a>
          {{/project}}
          {{/project_name}}
          {{#page_name}}
            <h4 class="page-name">{{.}}</h4>
          {{/page_name}}
        </div>
      </div>
      {{#flash}}
      <div class="flash row">
        {{{.}}}
      </div>
      {{/flash}}
      {{{ yield }}}
    </div>

    <div class="scripts">
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
      <script src="/bootstrap/js/bootstrap.min.js"></script>
      {{{ scripts_markup }}}
    </div>

  </body>
</html>
