
<div class="main-content row">

  <div class="login-options span5">

    <div class="button-wrapper input-prepend">
      <img src="/img/twitter-28.png" class="add-on">
      <a href="/sign-in/twitter" class="btn">Sign in with Twitter</a>
    </div>
    
    
  </div>

  <div class="padding span2">
  </div>

  <div class="projects span5">
    <h4>Projects</h4>
    <ul class="projects-list">
      {{#projects }}
        <li class="{{ status_string }}-project">
          {{#public?}}<a href="/project/{{id}}">{{ title }}</a>{{/public?}}
            {{^public?}}{{ title }} (Private){{/public?}}
        </li>
      {{/projects }}
    </ul>
  </div>

</div>
