
{{#current_user}}
  <div class="projects row">

    {{#pending_memberships.empty?}}
      <div class="projects-where-active span6">
    {{/pending_memberships.empty?}}
    {{^pending_memberships.empty?}}
    <div class="projects-where-active span4">
    {{/pending_memberships.empty?}}
    
    <h4>Your projects ({{ active_memberships.count }})</h4>
    <ul class="projects-list">
      {{#active_memberships }}
        <li class="{{ project.status_string }}-project">
          {{> _membership_link }}
        </li>
      {{/active_memberships }}
    </ul>
    </div>

    {{^pending_memberships.empty?}}
    <div class="projects-where-membership-pending span4">
      <h4>Membership pending ({{ pending_memberships.count }})</h4>
      <ul class="projects-list">
        {{#pending_memberships }}
          <li class="{{ project.status_string }}-project">
            {{> _membership_link }}
          </li>
        {{/pending_memberships }}
      </ul>
    </div>
    {{/pending_memberships.empty?}}
    
    {{#pending_memberships.empty?}}
      <div class="other-projects span6">
    {{/pending_memberships.empty?}}
    {{^pending_memberships.empty?}}
    <div class="other-projects span4">
    {{/pending_memberships.empty?}}
    
    <h4>Other projects ({{ other_projects.count }})</h4>
    <ul class="projects-list">
      {{#other_projects }}
        <li class="{{ status_string }}-project">{{> _project_link }}</li>
      {{/other_projects }}
    </ul>
    </div>

      </div>
{{/current_user}}
