
<div class="main-content row">

  <div class="user-settings span12">

    <h4>Settings</h4>
    <p>Your user settings are private information that affect the way {{app_name}} works for you.<p>
    
      <form action="/user/{{user.id}}/settings", method="post">
      
      <div class="control-group">
        <label class="control-label" for="email">Email address</label>
        <div class="controls">
          <input type="email" id="email" name="email" value="{{ user.email }}">
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <button id="save_settings-submit" type="submit" class="btn btn-success">Save</button>
        </div>
      </div>

      </form>
      
  </div>

</div>
