
<div class="issue row">
  <div class="span12">
    
    <div class="orginal-post">
      <h3>{{ issue.title }}</h3>
      {{#issue.assigned_to }}
        <h4>Assigned to: {{ issue.assigned_to.login }}<h4>
      {{/issue.assigned_to }}
    </div>
    
    <ul class="comment-list">
      {{#issue.comments}}
        <li class="comment">
          <div class="member">{{user.login}}</div>
          <div class="comment">{{{filtered_body}}}</div>
        </li>
      {{/issue.comments}}
    </ul>
    
    {{#is_active_member}}
      <form class="add-comment" action="/issue/{{issue.id}}/comment/add" method="post">
      <h4>Comment / assign</h4>
      {{> _issue_comment_form_elements }}
      </form>
    {{/is_active_member}}
    
  </div>
</div>
