
.site-header
{
  background-color: #EEEEEE;
  border-radius: 6px;
  color: inherit;
  margin-bottom: 30px;
  padding: 30px 0 30px 0;
}


form.add-comment
{
    margin-top: 40px
}



.main-content .login-options
{
    text-align: center;
}
.main-content .login-options .button-wrapper
{
    margin: 25px auto;
}
.main-content .login-options .button-wrapper img.add-on
{
   padding: 0;
   height: auto;
}


.account-options .actions-and-details
{
    text-align: center;
}
.account-options .actions-and-details .external-account
{
    margin: 50px auto;
    max-width: 500px;
}
.account-options .actions-and-details .external-account .image-wrapper
{
    float:left;
    height: 150%;
    margin-right: 20px;
}
.account-options .actions-and-details .external-account .details
{
    float:left;
    max-width: 400px;
    text-align: left;
}
.account-options .actions-and-details .actions
{
    margin: 25px auto;
}


.issue li.comment
{
    margin-bottom: 20px;
}
.issue li.comment div
{
    float: left;
}
.issue li.comment div.member
{
    width: 20%;
}
.issue li.comment div.comment
{
    width: 80%;
}


.actions div div
{
    float: right;
    margin-left: 20px;
}

.top-links div div
{
    float: right;
    margin-right: 20px;
}